body{
    height: 5000px;
} 
.customlogo{
    width: 50vh;
}

.customdiv{
    height: 130px;
}

.masthead {
    height: 75vh;
    min-height: 500px;
    background-image: linear-gradient(white -5%, transparent,white 105%), url('img/piscina.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.customtitle{
    font-size: 70px;
    font-family: 'Pacifico', sans-serif;
    
}

.customcontainer{
    background-color: rgba(5, 5, 187, 0.6);
    
    height: 180px;
    margin-top: 100px;
    
}

.customimg{
    height: 25vh;
    width: 100vw;
}

.customicon{
    font-size: 50px;
}

.bordomenu {
    position: relative;
  }

  .bordomenu::after {
    content: '';
    width: 80%;
    height: 2px;
    background-color: blue;
    transform: scaleX(0);
    transform-origin: bottom right;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: transform 0.4s;
  }

  .bordomenu:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .bordomenu1 {
    position: relative;
  }

  .bordomenu1::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: blue;
    transform: scaleX(0);
    transform-origin: bottom right;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: transform 0.4s;
  }

  .bordomenu1:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .custominfo:hover{
    background-color: blue;
    
  }
  
  .custominfo:hover h3{
      color: white;
      margin-bottom: 0;
  }

  .arrowScroll svg{
    animation: arrowAnimation 1.0s infinite ease-in-out;
    fill: blue;
    
  
  }
  @keyframes arrowAnimation {
    0% {
      transform: translateY(-10px);
      opacity: 0;
      
    }
    30% {
      opacity: 1;
    }
    60%{
      opacity: 1;
    }
    100%{
      transform: translateY(10px);
      opacity: 0;
      
    }
  
  }

  .frecciagiu{
    width: 5%; 
    
  }